.react-grid {
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  position: relative;
  height: 100%;
}
.react-grid .react-grid-scrollable {
  overflow: auto;
  position: relative;
  height: 100%;
}
.react-grid .react-grid-inner {
  background-color: transparent;
  display: table;
  width: 100%;
}
.react-grid .react-grid-header,
.react-grid .react-grid-row,
.react-grid .react-grid-body {
  white-space: nowrap;
  display: block;
  position: relative;
}
.react-grid .react-grid-header {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  color: #666;
  text-transform: uppercase;
  z-index: 2;
}
.react-grid .react-grid-row {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.react-grid .react-grid-row:last-child {
  border-bottom: none;
}
.react-grid .react-grid-row.active {
  background-color: #d9edf7;
}
.react-grid .react-grid-header-cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  border-right: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 5px;
  cursor: default;
}
.react-grid .react-grid-header-cell:last-child {
  border-right: none;
}
.react-grid .react-grid-header-cell.sortable {
  cursor: pointer;
}
.react-grid .react-grid-header-cell .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.react-grid .react-grid-header-cell .icon-sort {
  float: left;
  text-align: center;
  color: #ccc;
}
.react-grid .react-grid-header-cell .icon-sort-down,
.react-grid .react-grid-header-cell .icon-sort-up {
  float: left;
  text-align: center;
  color: #009ee1;
}
.react-grid .react-grid-row-cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 5px;
  z-index: 1;
}
.react-grid .react-grid-row-cell:last-child {
  border-right: none;
}
.react-grid .react-grid-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}
