
.icon-move:before { content: '\f047'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */